@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Our.Umbraco.Vorto.Extensions
@using Bro.Justr.Umbraco.Extensions
@using System.Globalization
@{
    var home = CurrentPage.Site();
    CultureInfo currentCulture = new CultureInfo(this.Culture);
}

@if (home.Children.Where("Visible").Any())
{
    @* For each child page under the home node, where the property umbracoNaviHide is not True *@
    foreach (var childPage in home.Children.Where("Visible"))
    {
        IPublishedContent ipChildPage = (IPublishedContent)childPage;
        var childPageName = ipChildPage.GetVortoValue("pageName") ?? childPage.Name;
        
        <div class="col-xs-6 col-sm-3">
            @if (childPage.Children.Where("Visible").Any())
            {                    
                <strong>@childPageName</strong>
                @childPages(childPage.Children, currentCulture)
            }
        </div>
    }
}

<div class="col-xs-6 col-sm-3">
    <strong>Find us</strong>
    <ul>
        <li>
            <a href="https://twitter.com/umbracoproject" target="_blank">Twitter</a>
        </li>
        <li>
            <a href="https://www.facebook.com/Umbraco" target="_blank">Facebook</a>
        </li>
        <li>
            <a href="http://umbraco.com/?utm_source=core&utm_medium=starterkit&utm_content=topic-link&utm_campaign=fanoe" target="_blank">Umbraco.com</a>
        </li>
    </ul>
</div>

@helper childPages(dynamic pages, CultureInfo culture)
{
    @* Ensure that we have a collection of pages *@
    if (pages.Any())
    {
        <ul>
            @foreach (var page in pages.Where("Visible"))
            {
                IPublishedContent ipPage = (IPublishedContent)page;
                var pageName = ipPage.GetVortoValue("pageName") ?? page.Name;
                string pageUrl = ipPage.GetUrl(culture); 
                <li>
                    <a href="@pageUrl">@pageName</a>
                </li>
            }
        </ul>
    }
}