@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

@using Our.Umbraco.Vorto.Extensions

<div role="content">
	<section class="light blogarchive equalizer">
		<div class="container">
			<div class="row">
				@{
                    var currentCategoryName = ((IPublishedContent)CurrentPage).GetVortoValue("productCategoryName");
                    if (currentCategoryName == null)
                    {
                        currentCategoryName = CurrentPage.Name;
                    }
                }

                @currentCategoryName

                <br />

				@foreach(var category in CurrentPage.Children) 
				{
					IPublishedContent ipcCategory = (IPublishedContent) category;
					var categoryName = ipcCategory.GetVortoValue("productCategoryName");
					
					string categoryPageUrl = category.Url;
					
					<div class="col-sm-6">
						<div class="content equal">
							<a href="@categoryPageUrl">@categoryName</a>
							<br/>	
					
							@if(@category.HasValue("productCategoryLogo"))
							{
								<img src='@Umbraco.Media(@category.productCategoryLogo).Url' alt='@categoryName' />
							}
							<br/>
						</div>
					</div>
				}
			</div>
		</div>
	</section>